@import 'styles/variables';

mat-sidenav-container,
mat-sidenav {
  height: 100vh;
}

mat-sidenav {
  background-color: $primary !important;
  color: $white;
  width: 270px;

  * {
    background-color: $primary;
    color: $white !important;
    font-weight: lighter;
  }
}

button:hover,
button:focus {
  cursor: pointer;
}

mat-toolbar {
  background: transparent;
  margin-top: 1em;
  padding-bottom: 0;
}

mat-expansion-panel,
mat-expansion-panel-header {
  margin: 0 auto;
  padding: 0;
}

.mat-expansion-panel-header {
  padding: 0 9px 0 0;
}

.mat-expansion-panel-header-title {
  margin-right: 0;
}

::ng-deep {
  .mat-list-base .mat-list-item .mat-list-item-content,
  .mat-list-base .mat-list-option .mat-list-item-content {
    padding: 0 !important;
  }
}

mat-nav-list {
  margin: auto;
  padding: 0;
  width: 100%;
}

.is-active {
  font-weight: bolder;
}

.chevron {
  margin: auto;
}

.nav-section mat-nav-list {
  margin-left: 1em;
}

a:hover {
  background-color: transparent;
}

mat-sidenav-content {
  background: $white;

  > .mat-sidenav-content-div {
    background-color: $white;
    box-sizing: border-box;
    padding: 1em 3em 0;
  }
}

@media screen and (max-width: 500px) {
  mat-sidenav-content > .mat-sidenav-content-div {
    box-sizing: border-box;
    padding: 1em 1em 0;
  }
}

mat-icon {
  &.logo {
    height: 35px;
    padding-right: 55px;
    width: 100%;
  }

  &.logout-icon {
    color: $warn;
    margin: 0 0.5em;
  }
}

fa-icon,
mat-icon {
  margin: 0 0.3em 0 1em;
}

san-icon {
  margin-left: 1em;
  margin-right: 0.5em;
}

.vc-top-logo {
  background: {
    image: $logo-white;
    position: center;
    repeat: no-repeat;
    size: 200px;
  }
  height: 100%;
  width: 100%;
}

a.logout {
  border-top: 1px solid $white;
  padding: 1em;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}
