<mat-toolbar class="app-toolbar">
  <mat-toolbar-row>
    <button
      (click)="toggleSideNav()"
      id="menuToggle"
      mat-icon-button
      fxHide.gt-sm
    >
      <mat-icon>menu</mat-icon>
    </button>

    <div class="tool-bar-items">
      <span class="header-title"> Welcome, <span class="primary">{{ user?.firstName|titlecase }}</span></span>
    </div>

    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
      <div class="tool-bar-button">
        <button mat-button [matMenuTriggerFor]="menu">
          <san-icon [faIconStyles]="{ color: 'gray'}" icon="chevron-circle-down" size="2x" type="fa"></san-icon>
        </button>
        <mat-menu #menu="matMenu" class="toolbar-dropdown">
          <button class="action-button logout" mat-menu-item fxLayoutAlign="space-between center"
                  (click)="showLogoutModal()">
            Logout
            <san-icon [faIconStyles]="{ color: 'red'}" icon="sign-out-alt" size="1x" type="fa"></san-icon>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
