<div class="logout-modal">
  <div mat-dialog-title fxLayout="row" fxLayoutAlign="end center">
    <button class="close-button" (click)="closeDialog()">
      &#x2715;
    </button>
  </div>
  <div mat-dialog-content>
    <p fxLayoutAlign="center center">
      You are about to {{displayText}}.
    </p>
    <div fxLayout="row" fxLayoutAlign="space-around end">
      <button class="action-buttons cancel" (click)="closeDialog()">Cancel</button>
      <button mat-dialog-close class="action-buttons confirm" (click)="confirmDialog()">{{confirmText}}</button>
    </div>
  </div>
</div>
