@import '../theme/theme';
@import './colors';

.mt-auto {
  margin-top: auto;
}

.display-unset {
  display: unset;
}

.submit-button:not([disabled]) {
  color: $white !important;
  background-color: $primary !important;
}
