// language css
@import 'styles/variables';

::ng-deep {
  * {
    font-size: $font-size-primary;
  }

  .language {
    margin: auto;
    border: 1px solid $white;
    padding: 0 1em;
    border-radius: 5px;
    min-width: 10em;

    .mat-select-panel {
      background-color: $white;

      .mat-option {
        color: black;
      }
    }

    .mat-select-value-text {
      color: white;
    }
  }
}
