/* You can add global styles to this file, and also import other style files */
@import 'styles/variables';

html,
body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  overflow: auto;
}

fa-icon {
  color: #FFFFFF;
  margin: auto;
}

h1 {
  font-size: 2em;
  font-weight: bold;;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-weight: bold;
}

h5 {
  font-size: .83em;
  font-weight: bold;
}

h6 {
  font-size: .67em;
  font-weight: bold;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}
